div.heading {
  padding: 32px;
}

.logo-heading {
  display: inline;
  position: relative;
  top: 12px;
  font-size: 48px;
}

h1 {
  padding: 24px 0;
}

h2 {
  padding: 16px;
}

p::first-letter {
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: Garamond, Palatino, serif;
  letter-spacing: 1px;
}

blockquote {
  margin-bottom: 48px;
}

blockquote p {
  padding: 16px;
  background: #eee;
  border-radius: 4px;
}

.bd-placeholder-img text {
  text-anchor: middle;
}
