div.heading {
  padding: 32px;
}

.logo-heading {
  display: inline;
  position: relative;
  top: 12px;
  font-size: 48px;
}

h1 {
  padding: 24px 0;
}

h2 {
  padding: 16px;
}

.center {
  text-align: center;
}

p::first-letter {
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: Garamond, Palatino, serif;
  letter-spacing: 1px;
}

.sub-nav {
  margin: 32px auto;
}

.concert-table {
  margin: 2rem auto;
  border-top: solid;
  border-bottom: solid;
  border-collapse: separate;
  border-spacing: 1rem;
}

.concert-table th {
  text-align: right;
}

.concert-poster {
  width: 100%;
  max-width: 560px;
}

blockquote {
  margin-bottom: 48px;
}

blockquote p {
  padding: 16px;
  background: #eee;
  border-radius: 4px;
}

blockquote footer {
  padding-right: 48px;
  text-align: right;
}

blockquote footer::before {
  content: "-- ";
}

.bd-placeholder-img text {
  text-anchor: middle;
}

.imageitem {
  position: relative;
}

.gallery {
  max-width: 800px;
  margin: 16px auto;
}

.carousel-item img {
  width: 100%;
  border-radius: 8px;
}

.v-window__next {
  right: 0;
}

.v-image__image--contain {
  background-size: 100% 100%;
}

/* And set the max-width of the parent element */
.video-wrap {
  width: 100%;
  max-width: 560px;
  margin: 16px auto;
}

.video-container {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%; /* creates a 16:9 aspect ratio */
}

.video-container iframe,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

.socail {
  margin: 16px auto;
  text-align: center;
}

.social img {
  width: 48px;
  padding: 8px;
}
